div.hscroller {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  padding-left: 10px;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent; }
  div.hscroller::-webkit-scrollbar {
    display: none; }

div.hscroller-card {
  width: 120px;
  height: 160px;
  display: inline-block;
  background-color: #262626;
  vertical-align: middle;
  margin: 0 2px; }
  div.hscroller-card img {
    height: 120px;
    width: 120px; }
  div.hscroller-card div.hscroller-label {
    font-family: "Helvetica Neue", "Roboto", Helvetica, sans-serif;
    font-size: 11px;
    line-height: 14px;
    padding: 0 0.5em;
    color: #fff;
    margin: 0;
    word-wrap: break-word;
    white-space: normal;
    height: calc($hscroller-card-height - $hscroller-image-height); }
  div.hscroller-card:last-child {
    margin-right: 10px; }

@media screen and (min-width: 1025px) {
  div.hscroller {
    overflow-x: hidden; } }

div.hscroller-card-animated-1 {
  animation: fadein 0.4s;
  -moz-animation: fadein 0.4s;
  /* Firefox */
  -webkit-animation: fadein 0.4s;
  /* Safari and Chrome */
  -o-animation: fadein 0.4s;
  /* Opera */ }

div.hscroller-card-animated-2 {
  animation: fadein 0.8s;
  -moz-animation: fadein 0.8s;
  /* Firefox */
  -webkit-animation: fadein 0.8s;
  /* Safari and Chrome */
  -o-animation: fadein 0.8s;
  /* Opera */ }

div.hscroller-card-animated-3 {
  animation: fadein 1.2s;
  -moz-animation: fadein 1.2s;
  /* Firefox */
  -webkit-animation: fadein 1.2s;
  /* Safari and Chrome */
  -o-animation: fadein 1.2s;
  /* Opera */ }

div.hscroller-card-animated-4 {
  animation: fadein 1.6s;
  -moz-animation: fadein 1.6s;
  /* Firefox */
  -webkit-animation: fadein 1.6s;
  /* Safari and Chrome */
  -o-animation: fadein 1.6s;
  /* Opera */ }

div.hscroller-card-animated-5 {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */ }

div.hscroller-card-animated-6 {
  animation: fadein 2.4s;
  -moz-animation: fadein 2.4s;
  /* Firefox */
  -webkit-animation: fadein 2.4s;
  /* Safari and Chrome */
  -o-animation: fadein 2.4s;
  /* Opera */ }

div.hscroller-card-animated-7 {
  animation: fadein 2.8s;
  -moz-animation: fadein 2.8s;
  /* Firefox */
  -webkit-animation: fadein 2.8s;
  /* Safari and Chrome */
  -o-animation: fadein 2.8s;
  /* Opera */ }

div.hscroller-card-animated-8 {
  animation: fadein 3.2s;
  -moz-animation: fadein 3.2s;
  /* Firefox */
  -webkit-animation: fadein 3.2s;
  /* Safari and Chrome */
  -o-animation: fadein 3.2s;
  /* Opera */ }

div.hscroller-card-animated-9 {
  animation: fadein 3.6s;
  -moz-animation: fadein 3.6s;
  /* Firefox */
  -webkit-animation: fadein 3.6s;
  /* Safari and Chrome */
  -o-animation: fadein 3.6s;
  /* Opera */ }

div.hscroller-card-animated-10 {
  animation: fadein 4s;
  -moz-animation: fadein 4s;
  /* Firefox */
  -webkit-animation: fadein 4s;
  /* Safari and Chrome */
  -o-animation: fadein 4s;
  /* Opera */ }

div.hscroller-card-animated-11 {
  animation: fadein 4.4s;
  -moz-animation: fadein 4.4s;
  /* Firefox */
  -webkit-animation: fadein 4.4s;
  /* Safari and Chrome */
  -o-animation: fadein 4.4s;
  /* Opera */ }

@keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
